.fold, .fold-without-anchor{
  &:after{
    display:inline-block;
    transition:transform 0.2s;
    transform:rotateZ(0deg);
    content:'\025B8';
  }
  &~div .section_content{
    display:none;
  }
  // TODO: discuss use of target w/ Robin
  // &:target:after{
  //   transform:rotateZ(90deg);
  // }
  // &:target~div .section_content{
  //   display:block;
  // }
}

.unfolded {
  &:after{
    transform:rotateZ(90deg);
  }
  &~div .section_content{
    display:block;
  }
}
